@import "@/styles/unit.scss";

.card {
  border-left: 5px solid #d20a0a;
  padding: rem(18) rem(16);
  background-color: #151515;
  &__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: rem(20);
    line-height: rem(20);
    color: #ffffff;
  }
  &:hover {
    cursor: pointer;
    background-color: #d20a0a;
  }
}

@media (max-width: 768px) {
  .card {
    border-left: 2px solid #d20a0a;
    padding: rem(18) rem(16);
    background-color: #151515;
    &__text {
      font-family: "Roboto";
      font-weight: 400;
      font-size: rem(18);
      line-height: rem(21);
      color: #ffffff;
    }
    &:hover {
      cursor: pointer;
      background-color: #d20a0a;
    }
  }
}
