@import "@/styles/unit.scss";

.box {
  position: relative;
  img:nth-child(1) {
    display: block;
    width: 100%;
  }
  img:nth-child(2) {
    display: none;
  }
  &__info {
    position: absolute;
    transform: translate(20%, -50%);
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .box {
    position: relative;
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(2) {
      display: flex;
      width: 100%;
    }
    &__info {
      max-width: rem(343);
      transform: none;
      position: absolute;
      left: calc(50% - 343px / 2);
      top: calc(50% - 249px / 2 + 122.5px);
    }
  }
}
