@import "@/styles/unit.scss";

.box {
  display: block;
  border-top: 10px solid #d20a0a;
  background-color: #fff;
  padding: rem(40);
  &__title {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: rem(36);
    line-height: rem(43);
    color: #000000;
  }
  ul {
    padding: rem(12) rem(40);
    li {
      font-family: "Roboto";
      font-weight: 400;
      font-size: rem(22);
      line-height: rem(32);
      color: #48535b;
    }
  }
  .btn {
    cursor: pointer;
    background-color: var(--primary-color);
    text-align: center;
    padding: rem(14) rem(28);
    border: none;
    outline: none;
    .text {
      font-weight: 600;
      font-size: rem(15);
      line-height: rem(18);
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .box {
    display: flex;
    flex-direction: column;
    border-top: 10px solid #d20a0a;
    background-color: #fff;
    padding: rem(24) rem(12) rem(16);
    &__title {
      font-family: "Bebas Neue";
      font-weight: 400;
      font-size: rem(26);
      line-height: rem(31);
      color: #000000;
    }
    ul {
      padding: rem(10) rem(20);
      li {
        font-family: "Roboto";
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(21);
        color: #48535b;
      }
    }
    .btn {
      cursor: pointer;
      background-color: var(--primary-color);
      text-align: center;
      padding: rem(14) rem(28);
      border: none;
      outline: none;
      .text {
        font-weight: 600;
        font-size: rem(15);
        line-height: rem(18);
        color: #ffffff;
      }
    }
  }
}
