@import "@/styles/unit.scss";

.content {
  display: flex;
  flex-direction: column;
  .video {
    width: 100%;
    iframe {
      width: 864px;
      height: 496px;
    }
  }
  .text {
    margin-top: rem(32);
    font-family: "Roboto";
    font-weight: 400;
    font-size: rem(18);
    line-height: rem(24);
    letter-spacing: -0.02em;
    color: #b0babf;
  }
  .instruction {
    display: flex;
    margin-top: rem(24);
    column-gap: rem(16);

    ul:nth-child(1) {
      list-style: none;

      li {
        font-family: "Roboto";
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(24);
        letter-spacing: -0.02em;
        color: #b0babf;
      }
    }
    ul:nth-child(2) {
      list-style: none;

      li {
        font-family: "Roboto";
        font-weight: 600;
        font-size: rem(16);
        line-height: rem(24);
        letter-spacing: -0.02em;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    .video {
      width: 100%;
      iframe {
        width: 100%;
        height: rem(220);
      }
    }
    .text {
      display: none;
    }
    .instruction {
      display: none;
    }
  }
}
