@import "@/styles/unit.scss";

.tredningBox {
  .header {
    border-left: 10px solid #d20a0a;
    padding: rem(20) rem(12);
    &__title {
      font-family: "Bebas Neue";
      text-transform: uppercase;
      font-weight: 400;
      font-size: rem(48);
      line-height: rem(48);
      color: #ffffff;
    }
  }
  .boxes {
    margin-top: rem(24);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(32);
  }
}

@media (max-width: 768px) {
  .tredningBox {
    .header {
      border-left: none;
      padding: rem(0);
      &__title {
        font-family: "Bebas Neue";
        text-transform: uppercase;
        font-weight: 400;
        font-size: rem(32);
        line-height: rem(38);
        color: #ffffff;
      }
    }
    .boxes {
      margin-top: rem(24);
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: rem(32);
    }
  }
}
