@import "@/styles/unit.scss";

.container {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(32);
}

@media (max-width: 768px) {
  .container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
