@import "@/styles/unit.scss";

.box {
  border-top: 10px solid #d20a0a;
  margin: 20% auto;
  width: 50%;
  background-color: #fff;
  padding: rem(32);

  .form {
    .btn {
      margin-top: rem(32);
      width: 100%;
      cursor: pointer;
      background-color: var(--primary-color);
      text-align: center;
      padding: rem(15) rem(28);
      border: none;
      outline: none;
      .text {
        font-weight: 600;
        font-size: rem(18);
        line-height: rem(21);
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 768px) {
  .box {
    border-top: 10px solid #d20a0a;
    margin-top: 50%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: rem(32);

    .form {
      .btn {
        margin-top: rem(32);
        width: 100%;
        cursor: pointer;
        background-color: var(--primary-color);
        text-align: center;
        padding: rem(15) rem(28);
        border: none;
        outline: none;
        .text {
          font-weight: 600;
          font-size: rem(18);
          line-height: rem(21);
          color: #ffffff;
        }
      }
    }
  }
}
