@import "@/styles/unit.scss";

.banner {
  position: relative;

  &__responseBannerInfo {
    display: none;
  }
  .resImg {
    display: none;
  }
  .img {
    display: flex;
    width: 100%;
  }
  &__bannerInfo {
    display: block;
    width: 40%;
    position: absolute;
    bottom: 15%;
    h1 {
      font-family: "Bebas Neue";
      text-transform: uppercase;
      font-weight: 400;
      font-size: rem(72);
      line-height: rem(90);
      color: #ffffff;
    }
    p {
      font-family: "Roboto";
      margin: rem(24) 0;
      font-weight: 400;
      font-size: rem(24);
      line-height: rem(28);
      color: rgba(255, 255, 255, 0.8);
    }
    .btn {
      cursor: pointer;
      background-color: var(--primary-color);
      text-align: center;
      padding: rem(15) rem(28);
      border: none;
      outline: none;
      .text {
        font-weight: 600;
        font-size: rem(18);
        line-height: rem(21);
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    .resImg {
      display: flex;
      width: 100%;
    }
    .img {
      display: none;
    }
    &__responseBannerInfo {
      width: 100%;
      margin-top: rem(50);
      display: flex;
      flex-direction: column;
      h1 {
        font-family: "Bebas Neue";
        text-transform: uppercase;
        font-weight: 400;
        font-size: rem(36);
        line-height: rem(45);
        color: #ffffff;
      }
      p {
        font-family: "Roboto";
        margin: rem(4) 0 rem(32);
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(21);
        color: rgba(255, 255, 255, 0.8);
      }
      .btn {
        max-width: rem(300);
        cursor: pointer;
        background-color: var(--primary-color);
        padding: rem(15) rem(40);
        border: none;
        outline: none;
        .text {
          font-weight: 600;
          font-size: rem(15);
          line-height: rem(18);
          color: #ffffff;
        }
      }
    }
    &__bannerInfo {
      display: none;
    }
  }
}
