@import "unit";
@import "../../public/fonts/font.css";

:root {
  --primary-color: #d20a0a;
  --primary-soft-color: #ef722e14;
  --secondary-color: #fdc100;
  --text-color: #696969;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #000000;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.crosshairs {
  &::before,
  &::after {
    background: #fff !important;
  }
}
