@import "@/styles/unit.scss";

.footer {
  width: 100%;
  .box {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      li:nth-child(1) {
        font-weight: 700;
        font-size: rem(15);
        line-height: rem(18);
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: rem(16);
      }
      li {
        font-weight: 500;
        font-size: rem(15);
        line-height: rem(18);
        color: #ffffff;
        margin-bottom: rem(12);
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    .box {
      display: flex;
      flex-direction: column;

      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        li:nth-child(1) {
          margin-top: rem(32);
          font-weight: 700;
          font-size: rem(15);
          line-height: rem(18);
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: rem(16);
        }
        li {
          font-weight: 500;
          font-size: rem(15);
          line-height: rem(18);
          color: #ffffff;
          margin-bottom: rem(12);
        }
      }
    }
  }
}
