@import "@/styles/unit.scss";

.root {
  margin-bottom: rem(100);
  img:nth-child(1) {
    display: none;
  }
  img {
    width: 100%;
    position: relative;
  }
  .bannerInfo {
    position: absolute;
    margin: auto;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    &__title {
      font-family: "Bebas Neue";
      font-weight: 400;
      font-size: rem(96);
      line-height: rem(80);
      color: #ffffff;
    }
    &__text {
      font-family: "Roboto";
      font-weight: 400;
      font-size: rem(21);
      line-height: rem(25);
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

@media (max-width: 768px) {
  .root {
    margin-bottom: rem(30);
    img:nth-child(1) {
      display: flex;
      position: relative;
      width: 100%;
    }
    img {
      display: none;
    }
    img {
      width: 100%;
      position: relative;
    }
    .bannerInfo {
      position: absolute;
      margin: auto;
      top: 55%;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      &__title {
        font-family: "Bebas Neue";
        font-weight: 400;
        font-size: rem(36);
        line-height: rem(45);
        color: #ffffff;
      }
      &__text {
        font-family: "Roboto";
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(21);
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
