@import "@/styles/unit.scss";

.root {
  min-width: rem(1440);
  padding: rem(16);
  background: #000;

  .subMenu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    .subItems {
      .text {
        font-family: "Roboto";
        font-weight: 400;
        font-size: rem(20);
        line-height: rem(20);
        color: #48535b;
        cursor: pointer;
        &:hover {
          color: white;
          border-bottom: 1px solid red;
        }
      }
    }
  }
}
