@import "@/styles/unit.scss";

.box {
  .header {
    padding: 0 rem(16);
    height: rem(72);
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .boxBody {
    nav {
      padding: rem(32);
      .menu {
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        .menuItems:nth-child(2) {
          margin-top: rem(16);
        }
        .menuItems {
          .menuTexts {
            font-weight: 500;
            font-size: rem(15);
            line-height: rem(18);
            color: #ffffff;
            &:hover {
              border-bottom: 1px solid red;
            }
          }
          .text {
            font-weight: 500;
            font-size: rem(15);
            line-height: rem(18);
            color: #ffffff;
            &:hover {
              border-bottom: 1px solid red;
            }
          }
        }
      }
    }
  }
}
