@import "@/styles/unit.scss";

.content {
  display: flex;
  flex-direction: column;
  .classes {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: rem(12);

    .list {
      display: flex;
      align-items: center;
      background-color: #0a0a0a;
      column-gap: rem(10);
      padding: rem(16);
      span {
        font-family: "Roboto";
        font-weight: 500;
        font-size: rem(18);
        line-height: rem(24);
        letter-spacing: -0.02em;
        color: #ffffff;
      }
    }
  }
  .lessons {
    margin-top: rem(32);
    font-family: "Roboto";
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(24);
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  .plans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(16);
    margin-top: rem(12);
    background: #0a0a0a;
    span {
      font-family: "Roboto";
      font-weight: 400;
      font-size: rem(18);
      line-height: rem(24);
      letter-spacing: -0.02em;
      color: #b0babf;
    }
  }
  .resText {
    display: none;
  }
}

@media (max-width: 768px) {
  .content {
    margin-top: rem(24);
    display: flex;
    flex-direction: column;
    .classes {
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: rem(12);

      .list {
        display: flex;
        align-items: center;
        background-color: #0a0a0a;
        column-gap: rem(10);
        padding: rem(16);
        span {
          font-family: "Roboto";
          font-weight: 500;
          font-size: rem(16);
          line-height: rem(19);
          letter-spacing: -0.02em;
          color: #ffffff;
        }
      }
    }
    .lessons {
      margin-top: rem(24);
      font-family: "Roboto";
      font-weight: 700;
      font-size: rem(16);
      line-height: rem(19);
      letter-spacing: -0.02em;
      color: #ffffff;
    }
    .plans {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(16);
      margin-top: rem(12);
      background: #0a0a0a;
      span {
        font-family: "Roboto";
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(19);
        letter-spacing: -0.02em;
        color: #b0babf;
      }
    }
    .resText {
      display: flex;
      margin-top: rem(32);
      font-family: "Roboto";
      font-weight: 400;
      font-size: rem(18);
      line-height: rem(24);
      letter-spacing: -0.02em;
      color: #b0babf;
    }
  }
}
