@import "@/styles/unit.scss";

.Frow {
  width: 100%;

  .label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.41px;
    color: #1a2024;
    margin-bottom: 6px;

    .requiredStart {
      color: red;
    }
  }

  .component {
    flex: 1;
  }

  &.vertical {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;

    .label {
      width: auto;
      transform: translateY(0);
      margin-bottom: 10px;
    }

    .component {
      padding: 0;
      width: 100%;
    }
  }
}

.errMsg {
  color: #f76659;
  font-size: rem(14);
}

.inputWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: rem(8);
  height: rem(50);
  padding: rem(12) !important;
  border: 1px solid #e5e9eb;
  transition: border 0.25s linear;
  overflow: hidden;
  column-gap: rem(12);
  width: 100%;
  &:hover,
  &:focus-visible,
  &:active {
    transition: border 0.25s linear;
    border: 1px solid var(--primary-color);
  }
  input {
    font-size: rem(14);
    line-height: rem(17);
    outline: none;
    height: rem(42);
    width: 100%;
    color: #252c32;
    padding: 0 !important;
    border: none;
    caret-color: var(--primary-color);
    &::placeholder {
      color: #5b6871;
      font-size: rem(14);
      line-height: rem(24);
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
