@import "@/styles/unit.scss";

.card {
  position: relative;
  img {
    width: 100%;
  }
  .text {
    position: absolute;
    left: calc(50% - 111px / 2 - 0.5px);
    top: calc(50% - 58px / 2);

    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: rem(48);
    line-height: rem(58);
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .card {
    position: relative;
    img {
      width: 100%;
    }
    .text {
      position: absolute;
      left: calc(50% - 111px / 2 - 0.5px);
      top: calc(50% - 58px / 2);

      font-family: "Bebas Neue";
      font-weight: 400;
      font-size: rem(32);
      line-height: rem(38);
      color: #ffffff;
    }
  }
}
