@import "@/styles/unit.scss";

.access {
  .header {
    border-left: 10px solid #d20a0a;
    padding-left: rem(12);
    &__title {
      font-family: "Bebas Neue";
      text-transform: uppercase;
      font-weight: 400;
      font-size: rem(48);
      line-height: rem(48);
      color: #ffffff;
    }
    &__text {
      font-family: "Roboto";
      margin-top: rem(12);
      font-weight: 400;
      font-size: rem(22);
      line-height: rem(26);
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .accessInfo {
    margin-top: rem(32);
    display: flex;
    flex-direction: row;
    gap: rem(32);
    .items {
      &__title {
        font-family: "Bebas Neue";
        text-transform: uppercase;
        font-weight: 400;
        font-size: rem(36);
        line-height: rem(43);
        color: #ffffff;
      }
      &__text {
        font-family: "Roboto";
        margin: rem(12) rem(0) rem(32);
        font-weight: 400;
        font-size: rem(22);
        line-height: rem(40);
        color: rgba(255, 255, 255, 0.5);
      }
      .btn {
        cursor: pointer;
        background-color: var(--primary-color);
        text-align: center;
        padding: rem(14) rem(28);
        border: none;
        outline: none;
        .text {
          font-weight: 600;
          font-size: rem(15);
          line-height: rem(18);
          color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .access {
    .header {
      border-left: none;
      padding-left: rem(0);
      &__title {
        font-family: "Bebas Neue";
        text-transform: uppercase;
        font-weight: 400;
        font-size: rem(32);
        line-height: rem(38);
        color: #ffffff;
      }
      &__text {
        font-family: "Roboto";
        margin-top: rem(4);
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(21);
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .accessInfo {
      margin-top: rem(32);
      display: flex;
      flex-direction: column;
      gap: rem(32);
      img {
        width: 100%;
      }
      .items {
        &__title {
          font-family: "Bebas Neue";
          text-transform: uppercase;
          font-weight: 400;
          font-size: rem(26);
          line-height: rem(31);
          color: #ffffff;
        }
        &__text {
          font-family: "Roboto";
          margin: rem(4) rem(0) rem(24);
          font-weight: 400;
          font-size: rem(18);
          line-height: rem(21);
          color: rgba(255, 255, 255, 0.5);
        }
        .btn {
          cursor: pointer;
          background-color: var(--primary-color);
          text-align: center;
          padding: rem(15) rem(45);
          border: none;
          outline: none;
          .text {
            font-weight: 600;
            font-size: rem(15);
            line-height: rem(18);
            color: #ffffff;
          }
        }
      }
    }
  }
}
