@import "@/styles/unit.scss";

.header {
  height: rem(102);
  display: flex;
  align-items: center;
  background-color: #000;

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .links {
      display: flex;
      align-items: center;
      .logo {
        margin-right: rem(160);
      }
      nav {
        .menu {
          margin: 0;
          list-style: none;
          display: flex;
          column-gap: 20px;
          align-items: center;
          .menuItems {
            .subMenu {
              display: none;
            }
            &:hover {
              .subMenu {
                display: flex;
                justify-content: space-between;
                position: absolute;
                z-index: 4;
                padding-top: rem(50);
                top: 25px;
                left: 0;
              }
            }
            .text {
              font-weight: 500;
              font-size: rem(15);
              line-height: rem(18);
              color: #ffffff;
              &:hover {
                border-bottom: 1px solid red;
              }
            }
          }
        }
      }
      .searchInput {
        margin-left: rem(20);
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: rem(12);
      .outlined {
        cursor: pointer;
        background-color: transparent;
        text-align: center;
        padding: rem(14) rem(28);
        border: 1px solid #5b6871;
        .text {
          font-weight: 600;
          font-size: rem(15);
          line-height: rem(18);
          color: #ffffff;
        }
      }
      .btn {
        cursor: pointer;
        background-color: var(--primary-color);
        text-align: center;
        padding: rem(14) rem(28);
        border: none;
        outline: none;
        .text {
          font-weight: 600;
          font-size: rem(15);
          line-height: rem(18);
          color: #ffffff;
        }
      }
    }
    .responeHeaderButtons {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: rem(72);
    display: flex;
    align-items: center;
    background-color: #000;

    .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .links {
        display: flex;
        align-items: center;
        .logo {
          img {
            width: 100%;
          }
        }
        nav {
          display: none;
        }
        .searchInput {
          display: none;
        }
      }
      .buttons {
        display: none;
      }
      .responeHeaderButtons {
        display: flex;
        align-items: center;
        column-gap: rem(12);
      }
    }
  }
}

@keyframes toTop {
  from {
    top: 48px;
  }

  to {
    top: 40px;
  }
}
