@import "@/styles/unit.scss";

.categores {
  .header {
    border-left: 10px solid #d20a0a;
    padding-left: rem(12);
    &__title {
      font-family: "Bebas Neue";
      text-transform: uppercase;
      font-weight: 400;
      font-size: rem(48);
      line-height: rem(48);
      color: #ffffff;
    }
    &__text {
      font-family: "Roboto";
      margin-top: rem(12);
      font-weight: 400;
      font-size: rem(22);
      line-height: rem(26);
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .categoryBoxes {
    margin-top: rem(32);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(32) rem(12);
  }
}

@media (max-width: 768px) {
  .categores {
    margin-top: rem(32);
    .header {
      border-left: none;
      padding-left: rem(0);
      &__title {
        font-family: "Bebas Neue";
        text-transform: uppercase;
        font-weight: 400;
        font-size: rem(32);
        line-height: rem(38);
        color: #ffffff;
      }
      &__text {
        font-family: "Roboto";
        margin-top: rem(4);
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(21);
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .categoryBoxes {
      margin-top: rem(32);
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: rem(16) rem(12);
    }
  }
}
