@import "@/styles/unit.scss";

.box {
  cursor: pointer;
  margin-bottom: rem(32);
  &:hover {
    transform: scale(1.01);
  }
  img {
    width: 100%;
  }
  .text {
    font-family: "Bebas Neue";
    margin-top: rem(24);
    text-transform: uppercase;
    font-weight: 400;
    font-size: rem(32);
    line-height: rem(32);
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .box {
    margin-bottom: rem(24);

    img {
      width: 100%;
    }
    .text {
      font-family: "Bebas Neue";
      margin-top: rem(12);
      text-transform: uppercase;
      font-weight: 400;
      font-size: rem(26);
      line-height: rem(31);
      color: #ffffff;
    }
  }
}
